@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
/*
html {
	font-display: optional;
	font-family: "Poppins", sans-serif;
}
*/
body {
/*	font-display: optional;*/
	width: 100%;
	min-height: 100lvh;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
/*	opacity: 0;*/
/*	animation: fadein 2s; */
}

/*@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}
*/
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.cajacookies {
	display: none;
	background-color:#000;
	color:#fff;
	position:fixed;
	bottom:50px;
	bottom:0px;
	width:100%;
	padding:10px 20px;
	font-size:18px;
	opacity:0.9;
	z-index: 6000;
}


.botonRGPD {
	display: none;
	position: relative;
	cursor: pointer;
}

.cajacookies a{color:#fff;}
.cajacookies a:hover{color:#ccc;}
.cajacookies p, 
.cajacookies div{display:inline-block; font-size: 0.6rem;}
.cajacookies p{width:85%;}
.cajacookies div{color: #303030;width:auto;padding:10px;border:1px solid #000;background-color:#ccc;text-align:center;position:absolute;top:10px;}
.cajacookies div:hover{background-color:#c2c2c2;cursor:pointer;}

.botonRGPD:hover {
	color: #30303090;
}

/*BODY-MAIN*/
.navbar {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}

.demoPage-main {
	background: radial-gradient(ellipse at top, #05021e, transparent),
            radial-gradient(ellipse at bottom, #ffffff, transparent);
/*	background:  repeating-radial-gradient( farthest-corner at 20% 20%, transparent 0, #9090901d 100px ), repeating-linear-gradient( #39393910, #444cf72c);*/
/*  	background: linear-gradient(to bottom, #303030 0 , #fff 60%);*/
	min-height: 100vh;
	margin: 0;
	padding: 10px 0;
	align-items: center;
	justify-items: center;
}

.main-1 {
	display: grid;
	margin-top: 15px;
	width: 100%;
/*	grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));*/
	grid-template-columns: auto 0.3fr;
	gap: 0.3em;
}

.main-2 h1, .hdownload {
	color: #cccccc;
	margin-bottom: 5px;
	font-size: 1.3rem;
	font-weight: 900;
	filter: drop-shadow(1px 1px 2px black);

}

.main-2 {
	display: block;
	width: 100%;
	margin: auto;
/*	border: 1px solid green;*/
/*background: radial-gradient(circle at 30% 107%, #303030 0%, #ffff 5%, #930909 45%, #393939 60%, #fcfcfc 90%);*/
/*	background: linear-gradient(to top,rgba(250, 250, 250, 0.1) 20%, #30303010 60%);*/
}

.carousel {
	width: 80%;
	margin: auto;
	align-items: center;
}

.carousel-inner {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	height: auto;
/*	border: 1px solid green;*/
}

.carousel-item {
	position: relative;
	justify-content: center;
	border-radius: 2%;
	width: 100%;
	height: 500px;
	background: linear-gradient(to top,rgba(250, 250, 250, 0.2) 20%, #30303040 100%);
} 

.carousel-item img {
	display: flex;
	position: relative;
	background-size: cover;
	object-position: center;
	object-fit: fill;
	margin: 0 auto;
	align-items: center;	
	width: 100%;
	height: 450px;
	border-radius: 5%;
	padding: 20px 40px 20px 40px;
}

.carousel-caption {
	font-size: 2.9rem;
	background-color: rgba(0, 0, 0, 0.7);
	height: fit-content;
}

.carousel-caption h2 {
	color: #999999;
}

.carousel-caption p {
	font-size: 0.9rem;
	color: #f5f5f5;
}

.others {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-evenly;
	width: auto;
	height: auto;
	grid-area: 1 / 2 / span 2;
	gap: 1em;
}



.notice {
	display: block;
	position: relative;
	background-color: rgba(250, 250, 250, 0.4);
	width: 100%;
	height: auto;
	overflow: auto;
	text-align: justify;
	padding: 1em;
}

.notice h3 {
	font-size: clamp(25px, 5vw, 33px);
	font-weight: 700;
}

.botones {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
}

.not-a, .not-b,
.not-c, .not-d {
	display: flex;
	position: sticky;
	width: 25%;
	height: auto;
	border-bottom: 2px solid black;
	opacity: 0.3;
	transition: all .5s ease-in-out;
}

.not-1 {
	color: white;
	font-size: .7rem;
}

.cap {
	font-size: 1.1rem;
	font-weight: 900;
}

.not-img img {
	display: flex;
	position: relative;
	cursor: pointer;
	width: 220px;
	height: 120px;
	margin: 0 auto;
	border-radius: 2%;

}
.logo-cont {
	display: flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: auto;
	justify-content: flex-end;
}

.logo {
	background-image: url("img/logochris1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: fill;
	width: 200px;
	height: 100px;
	border-radius: 1%;
	opacity: .6;
}

.otros-1 {
	background-color: rgba(250, 250, 250, .8);
	border-radius: 1%;
	padding: 1em;
	cursor: default;
}

.otros-1 ul {
	padding-left: 0;
	list-style: none;
	gap: 1em;
}

.otros-1 ul li {
	margin: .7em;
}

.otros-1 p {
	text-align: center;
	font-size: .8rem;
	margin: 2px;
	width: 90%;
	margin: 1em;
	gap: 2em;
	margin: 0 auto;
}

.otros-1 p:hover {
	padding: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	transition: .3s;
}




/*footer*/

.contact {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: right;
    background: #bbbb;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}



.contact1 {
	display: flex;
	position: relative;
	flex-direction: column;
	width: auto;
	height: auto;
}

/*.contact1 ul {*/
/*	bottom: 0;*/

	/*display: flex;
	position: relative;
	flex-direction: column;
	justify-self: flex-end;*/
/*}*/

.contact1 ul {
	display: flex;
	position: relative;
	flex-direction: column;
	list-style: none;
	list-style-type: none;
	text-decoration: blink;
	/* text-transform: uppercase; */
	color: #ffff;
	margin-bottom: 0;
	/* padding: 1em; */
	font-size: 0.7rem;
	font-weight: 400;
	width: auto;
	height: 100%;
	gap: .6em;
	/*    align-content: flex-end;*/
	/*    align-items: flex-end;*/
	/*    align-self: flex-end;*/
	justify-content: flex-end;
	/*    bottom: 0;*/
	/*    border: 1px solid white;*/
}

.contact1 h6 {
	color: white;
	text-transform: uppercase;
	text-align: right;
	font-weight: 900;
/*	border-bottom: 2px solid black;*/
	padding: 0;
	margin: 0;
/*	font-size:.8rem;*/
}

.contact1 a {
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
    color: #ffff;
}

.contact1 a:hover {
	color: #bbbb;
	transition: color .5s;
}


.bi-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	-webkit-background-clip: text;
          /* Also define standard property for compatibility */
     background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.bi-facebook{
	color: #3b5998;
}

.bi-twitter{
	color: #1DA1F2;
}


.contact li i:hover {
/*	border:1px solid rgba(250, 250, 250, 0.3);*/
/*	background-color: ghostwhite;*/
/*	box-shadow: 2px 0px 5px white;*/
	padding: 1px;
	border-radius: 30%;
	transition: 0.5s;
/*    color: #00008b;*/
}


.socialnav {
/*    margin: 2px;*/
    
    display: flex;
    position: relative;
    flex-direction: column;
/*    justify-content: flex-start;*/
/*    justify-self: left;*/
/*    left: 0;*/
/*	align-content: flex-start;*/
    flex-wrap: wrap;
    padding-top: 10px;
/*    margin: 0 auto;*/
/*    align-items: flex-end;*/
/*    position: relative;*/
/*    border: 1px solid white;*/
}

.socialnav ul {
	display: flex;
	position: relative;
	flex-direction: row;
/*    justify-content: flex-start;*/
/*    margin: 0 auto;*/
	gap: 10px;
	margin-left: 0;
}

.socialnav li:first-child {
	margin-left: -20px;
}

.socialnav ul li {
	list-style: none;
}

.socialnav li a{
	display: inline;
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
 }

 .socialnav i {
 	display: flex;
 	position: relative;
/* 	justify-content: flex-start;*/
/* 	align-items: flex-start;*/
 }

 .contact2 {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: right;
	background: #388E3C;
	align-content: space-between;
	justify-content: space-between;
	justify-items: space-between;
	/*justify-self: end;
	align-self: flex-end;
	width: auto;
	height: auto;*/
/*	box-sizing: border-box;*/
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	bottom: 0;
	width: 100%;

}

/*.btn {
	display: none;
}
*//*footer {
	background: rgba(0, 0, 0, 1.0);
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
}
*/



/*contact page*/

#contacto-body {
	display: flex;
	position: relative;
	margin: 20px auto;
	justify-content: center;
	/*margin: 20px auto;
	width: 100%;
	height: auto;
	border: 1px solid black;
	justify-content: center;
	place-content: middle;
	align-content: center;*/
}

.card {
/*	display: flex;*/
/*	position: relative;*/
	background-color: rgba(0, 0, 0, 0.3);
/*	align-content: center;*/
	/*justify-content: center;
	justify-items: center;
	align-items: center;
	object-position: center;
*//*	margin: 0 auto;*/
/*	padding: 2em;*/
	width: 100%;
	height: auto;
/*	border: 1px solid black;*/
}

.card-body {
/*	display: flex;*/
/*	position: relative;*/
/*	justify-content: center;*/
/*	padding: 3em;*/
/*	border: 1px solid green;*/
	width: 100%;
	height: auto;
}

/*.g-recaptcha {*/
/*	width: 100px;*/
/*	height: auto;*/
/*	border: 1px solid darkred;*/
/*}*/

.form-control {
	display: flex;
	position: relative;
	justify-content: center;
}

.p-5 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 400px;
	background-position: bottom;
	background-size: cover;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: 2px auto;
	padding: 5px;
}

/*.ban {
	display: grid;
	column-count: 3;
	background-image: url(img/banner2.png);
	z-index: -1;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	box-sizing: border-box;
}*/




.cuerpo {
	display: grid;
	grid-template-columns: auto auto auto;
	column-count: 12;
	height: fit-content;
	margin: 0;

}

.cuerpo .row {
	width: 100%;
	height: fit-content;
	margin: 0;
}

.base a {
	color: white;
	text-decoration: none;
/*	text-transform: uppercase;*/
	font-weight: 700;
/*	font-family: serif;*/
}

.form-control::placeholder {
	display: flex;
	position: absolute;
	color: rgba(0, 0, 0, 0.2);
	right: 5%;
	bottom: 2%;
/*	border: 1px solid darkgrey;*/
	object-position: center;
	text-align: right;
}




/*.banners {*/
/*	margin-top: 60px;*/
/*	gap: 1em;*/
/*	margin: auto;*/
/*}*/

.banner-demo {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: fit-content;
	gap: 0.1em;
	padding: 1em;
	margin-top: 40px;
	/* margin: 40px; */
	/* border: 1px solid black; */
}

.banner-demo article {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	max-width: 600px;
	height: 400px;
}

.banner-demo img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.contact {
	flex-direction: row;
	position: relative;
	background-color: #1b1b1b;
	width: 100%;
	height: 100%;

}

.contact section {
	display: block;
	position: relative;
	justify-content: space-around;
	align-items: self-end;
	width: auto;
	height: 100%;
}

.contact1 li,
.contact1 h6 {
	color: white;
}

.contact1 span:hover{
	padding: 5px;
	color: #303030;
	box-shadow: 2px 2px 4px #fffff9;
	transition: .3s;
	background-color: white;
	font-weight:600;
	border-radius: 2%;
}


/*DEMO PAGE*/


/*DESCARGAS*/

.descargas {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	justify-content: space-evenly;
	align-content: space-between;
	width: 100%;
	height: auto;
}

.descarga {
	display: block;
	position: relative;
	margin: 10px;
	text-align: center;

}

.descarga p {
	/*display: flex;
	position: relative;
	flex-wrap: wrap;
*/	font-size: .7rem;
}

.descarga img {
/*	 display: flex; */
	/* position: relative; */
	/* flex-wrap: wrap; */
	/* flex-direction: column; */
	/*justify-content: center;
	justify-items: center;
	align-content: center;*/
	/* text-align: center; */
	margin: 10px auto;
	width: 90px;
	height: 90px;
}

.pokemon img {
	width: 90px;
	height: 180px;
}

 .descarga {
 	text-decoration: none; 
 	position: relative;
}

.descarga button {
	font-size: 0.6rem;
	font-weight: 700;
	padding: 1px;
	border: outset green;
}

.contenedor {
	display: grid;
	position: relative;
	margin: 0 auto;
}

a button:hover {
/*	color: white;*/
	background-color: darkgoldenrod;
	scale: 1.1;
	transition: 0.3s;
/*	pointer-events: auto;*/
	cursor: pointer;
	padding: 3px;
}

/*button {
	background-color: rgba(250, 250, 250, 1.0);
	color: ghostwhite;
}*/


	#previous,
	#next {
		width: fit-content;
		height: fit-content;
		background-color: rgba(250, 250, 250, .2);
		top: 50%;
		border-radius: 5%;
		margin: 10px;
	}

	.canals {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 2% 15%;
/*		padding-bottom: 2%;*/
	}

	.canals h6 {
		font-size: clamp(20px, 5vw, 33px);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
		border-bottom: 2px solid #303030;
	}

	.canals ul {
		text-align: justify;
		margin: 0 auto;
		color: black;
		text-decoration: none;
		list-style: none;
		padding-left: 0;
		width: 50%;
	}

	.canals ul li {
		margin-bottom: 5%;
	}

	.canals ul li:hover {
/*		border-bottom: 1px solid darkgoldenrod;*/
		box-shadow:1px 1px 10px #30303040;
		padding: 2%;
		border-radius: 2%;
		transition: .5s;
	}

	.canals ul li > a {
		color: #303030;
		text-decoration: none;
	} 




.gitlogo {
	display: none;
}


.container-pro {
	background-color: #1c1d2d;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.pro-row {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
}

.pro {
	display: flex;
	position: relative;
	flex-direction: column;
	color: #ffff;
	justify-content: space-between;
	padding: 20px;
	text-align: center;
/*	border: 1px solid white;*/
}

.pro h6 {
/*	font-size: 1rem;*/
	font-weight: 700;

}

.pro-link {
	color: #ffffff60;
	text-decoration: none;
}

.pro-list {
	color: #ffffff60;
	margin-top: 10px;
	font-size: 0.7rem;
	list-style: none;
	cursor: default;
	padding-left: 0;
	text-align: center;
	/*	justify-content: center;*/
/*	border: 1px solid green;*/
}

.pro-item:hover, 
.pro-link:hover {
	color: #ffffff20;
}

.pro-item {
	margin: 10px auto auto auto;
/*	border: 1px solid red;*/
	text-align: center;
	justify-content: center;
/*	padding-left: 0;*/
}


/*.pro-item:after {
	color: yellow;
}*/





.main-h1 {
	color: #303030;
	text-align: center;
	width: 100%;
	margin: 5px;
}

.primary {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.primary-img {
	display: flex;
	position: relative;
	flex-direction: row;
	max-width: 60%;
	height: 400px;
	margin: 0;
	justify-content: center;
	opacity: 0.9;
	animation: move-izq-der 5s 1;
	animation-fill-mode: forwards;
	filter: drop-shadow(2px 2px 7px #303030);
/*	background-color: black;*/
/*	border: 1px solid black;*/
}

@keyframes move-izq-der {
	from {
		transform: translateX(-400px);
	}
	to {
		transform: translateX(10px);
	}
}

.primary-img {
/*	border: 1px solid black;*/
	align-items: center;
}

.primary-img img {
	background-size: auto;
	object-fit: cover;
	width: 150px;
	height: 200px;
	border-radius: 5%;
	opacity: 0.7;
}

.prim-caption {
	display: block;
	position: relative;
	max-width: 400px;
	padding: 3%;
/*	text-align: left;*/
/*	border: 1px solid black;*/
/*	margin: 0 10px;*/
}

.primary-h2 {
	color: #303030;
	text-align: center;
	width: 100%;
/*	padding: 10px;*/
	font-size: 0.9rem;
	border-bottom: 2px solid #303030;
	margin-bottom: 15px;
}

.primary-p {
	font-size: 0.7rem;
	text-align: justify;
/*	padding: 20px;*/
}

.social2 {
/*	display: flex;*/
/*	position: relative;*/
	flex-direction: row;
	margin-top: 40px;
	width: 100%;
	height: auto;
/*	margin: 40px 0 auto auto;*/
	justify-content: stretch;

/*	border: 1px solid black;*/
}

.social-items2 {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding-left: 0;
}

.social-item2 {
	display: flex;
	flex-direction: row;
/*	justify-content: flex-end;*/
	list-style: none;
	width: auto;
	height: auto;
/*	gap: 15%;*/
}

.social-link {
	color: #303030;
	text-decoration: none;
	padding-left: 0;
}

.bi {
	color: #FFF;
}

.bi-facebook {
	color: #3b5998;
}

.bi-twitter-x:hover {
	/*	color: #1DA1F2;*/
	color: #2b2b2b;
	background-color: #ffffff8c;
/*	color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);*/
/*	color: white;*/
/*	filter: blur(2px);*/
/*	transition: all 0.8s;*/

}

.bi-youtube {
	color: #c4302b;
}

.bi-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	-webkit-background-clip: text;
          /* Also define standard property for compatibility */
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
  
 }

.navbar-brand h1 {
	font-size: 1.1rem;
	font-weight: 900;
}

.descarga > img {
	width: 90;
	height: 90;
}




/*section INFLUENCERS PANAMEÑOS*/
.influencers {
	width: auto;
	height: auto;
	margin-top: 40px;
/*	height: 600px;*/
/*	margin-inline: auto;*/
	/*padding: 20px 15px;
	border: 1px solid red;*/
/*	display: ;*/
}

.influencers h4 {
	font-size: clamp(25px, 5vw, 33px);
/*	font-size: 1.8rem;*/
	font-weight: 700;
	color: #303030;
	padding: 40px;
	filter: drop-shadow(1px 1px 3px white);
}

.influencers span {
	display: flex;
	position: relative;
/*	flex-direction: row;*/
	flex-flow: wrap row;
/*	flex-wrap: wrap;*/
/*	flex-flow: ;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	justify-content: space-around;
}

.influP__content {
	/*display: flex;
	position: relative;
*//*	flex-flow: wrap row;*/
/*	flex-direction: row;*/
	width: auto;
	height: auto;
/*	border: 1px solid black;*/
/*	justify-content: space-evenly;*/
}

.gallery-wrapper {
	/*display: flex;
	position: relative;*/
	cursor: pointer;
/*	border: 1px solid green;*/
	max-width: 400px;
 	height: auto;
	/*width: auto;
	height: auto;*/
/*	z-index: 3000;*/
	
	/*background: linear-gradient(to bottom rgba(0, 0, 0,0.2)10%, rgba(0, 0, 0, 0.8)100%);
	z-index: 4000;*/
}

.gallery-item {
	position: relative;
	isolation: isolate;
	display: flex;
	flex: 1;
	max-width:400px;
	height: 500px;
/*	background: linear-gradient(336deg, rgba(0, 0, 0, .6)0%, rgba(0, 0, 0, 0.0)100%);*/
/*	padding: 20px;*/
	opacity: 1;
	overflow: hidden;
	transition: flex 0.5, opacity 0.25s;
	margin-bottom: 20px;
/*	justify-content: center;*/
	align-items: center;
/* 	border: 1px solid yellow;*/
}

.gallery-item:hover {
	opacity: 1;
	flex: 3;
	transition: flex 0.6s, opacity 0.3s;
}

.gallery-item:not(:hover) {
	opacity: 0.95;
	transition: flex 0.4s, opacity 0.30s;
}


.item-image {
	position: absolute;
/*	top: 0;*/
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
/*	border: 1px solid white;*/
	object-position: center;
	border-radius: 2%;
	filter: drop-shadow(1px 1px 5px #f2ffff);
}

/*.item-image:hover {
	filter: blur(5px);

}
*/
.item-description {
/*	text-decoration: none;*/
	align-self: flex-end;
	color: #fff;
	border-radius: 4%;
/*	text-align: left;*/
}


.item-description:not(:hover) {
	opacity: 0.95;
	transition: flex 0.4s, opacity 0.30s;
}


.item-description:hover {
	display: block;
}

.name {
	font-size: 27px;
	background: linear-gradient(90deg,#303030,#0003);
	padding-inline: 10px;
	transform: translateY(-10px);
}

.name p {
	font-size: 1.0rem;
	padding: .4em;
}

.name a, .role a {
	text-decoration: none;
	color: white;
}

.name a:not(:hover), .role a:not(:hover) {
	background-color: #f8f8ff20;
	padding: 3px;
}

.role {
	display: block;
	font-size: 0.7rem;
	background: linear-gradient(90deg,#303030,#0003);
	padding: 5px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(10px);
/*	border: 1px solid black;*/
}

.name,
.role {
	opacity: 0;
	transition: opacity 0.25s, transform 0.3s;
	transition-delay: .35s;
/*	align:center;*/
/*	background-color: none;*/
}

.gallery-item:hover .name,
.gallery-item:hover .role {
	opacity: 1;
	transform: translateY(0);
}

.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .role {

	transition-delay: .2s;
}
/*section INFLUENCERS PANAMEÑOS*/

/*ADS*/
.ads {
	overflow-x: hidden;
}

 /*media*/
@media screen and (max-width: 768px) {
	
	.cuerpo {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
	}

	.uno {
		grid-area: 1 / 4;
/*		width: 100%;*/
	}

	.dos {
		grid-area: 2 / 4;
	}

	.tres {
		grid-area: 3 / 4;
/*		margin: 0 auto;*/
	}

	.cuerpo .sidebar1 {
		display: flex;
		position: relative;
		width: auto;
		height: auto;
		margin: 0 auto;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	.cuerpo .sidebar2 {
		display: flex;
		position: relative;
		width: auto;
		height: auto;
		margin: 0 auto;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	.main-1 {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		height: auto;
		justify-content: stretch;
/*		border: 1px solid red;*/
		
	}

	.carousel-caption {
		display: block;
		position: absolute;
		font-size: .7rem;
		width: 50%;
		height: auto;
		margin: 0 auto;
		padding: 5px;
		/*object-position: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;
		align-self: center;*/
/*		visibility: visible;*/
/*		border: 1px solid black;*/
	}

	.carousel-caption h2{
		font-size: 0.9rem;
	}

	.carousel-caption p {
		font-size: .6rem;
	}

	.carousel {
		width: 100%;
	}

	.others {
		display: flex;
		position: relative;
	/*	flex-direction: column;*/
		justify-content: center;
		width: 100%;
		height: auto;
		margin-top: 10px;
		text-align: center;
/*		margin-bottom: 80px;*/
/*		z-index: 3000;*/
	}

	.otros p:hover {
		display: flex;
		position: relative;

		justify-content: center;
		text-align: center;
		width: 100%;
		font-size: .9rem;
		font-weight: 400;
	}



	.logo {

/*		background-image: url("img/logochris1.png");*/
		/*background-size: cover;
		background-repeat: no-repeat;
		background-position: center;*/
/*		object-fit: fill;*/
/*		right: 0;*/
		width: 200px;
		height: 100px;
		border-radius: 1%;
		margin: 3px;
	}

	.navbar-nav {
		text-align: right;
	}

	.banner-demo {
		 display: flex;
		position: relative;
		flex-direction: column;
		justify-content: stretch;
		margin: 0 auto;
		width: 100%;
		gap: 2em;		
/*		border: 1px solid red;*/
	}

	.banner-demo article {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width:100%;
		height: 600px;
	}

	.banner-demo img {
	/*	display: flex;*/
	/*	position: relative;*/
		width:100%;
		height: 100%;
		margin: 0 auto;
	}

	.gitlogo {
		display: flex;
		position: relative;
/*		margin: 20px;*/
/*		border: 1px solid white;*/
	}

	.gitlogo a {
		display: flex;
		position: relative;
		flex-direction: column;
		text-decoration: none;
		color: white;
		margin: 0 auto;
		height: fit-content;
/*		display: block;*/
/*		flex-direction: ;*/
	}

	.gitlogo a:hover {
		color: black;
		background-color: rgba(250, 250, 250, 0.8);
		padding: 5px;
		transition: .2s;

	}

	.gitlogo img {
		margin: 0 auto;
		object-position: center;
		width: 60px;
		height: 60px;
	}

	.logo-cont2 {
		display: flex;
		position: relative;
/*		flex-direction: column;*/
/*		justify-content: flex-end;*/
/*		align-content: flex-end;*/
		justify-content: space-between;
/*		object-position: bottom;*/
		width: 100%;
		height: 100%;
/*		margin-top: 80px;*/
/*		border: 1px solid white;*/
	}

	.logo-cont2 article {
		display: flex;
		position: relative;
		flex-direction: column-reverse;
/*		border: 1px solid red;*/
	}


	.canals {
		padding: 10px;
	}
	.logo2 {
		display: flex;
		position: relative;
/*		flex-direction: column-reverse;*/
		background-image: url("img/logochris1.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		object-fit: fill;
		width: 150px;
		height: 100px;
		border-radius: 1%;
		z-index: 3000;
		opacity: 0.5;
/*		bottom: 20%;*/
/*		right: 0;*/

		margin: 0 auto;

	}

	.gitlogo3 img {
		margin: 0;
		object-position: center;
		width: auto;
		height: auto;
	}

	.canals ul {
		width: 100%;
	}


	.pro-row {
		flex-direction: column;
	}

	.name,
	.role {
/*		font-size: .4rem;*/
		opacity: 1;
		transform: translateY(0);
	}


	.carousel-inner {
/*		width: ;*/
		padding: 0;
	}

	.carousel-item img {
		width: 100%;
		margin: 0;
		padding: 5px;
		border-radius: 4px;
	}

}

.gitlogo3 {
		display: flex;
		position: relative;
		padding: 5px;
/*		margin: 20px;*/
/*		border: 1px solid white;*/
	}

	.gitlogo3 a {
		display: flex;
		position: relative;
		flex-direction: column;
		text-decoration: none;
		color: white;
		margin: 0 auto;
		height: fit-content;
		font-size: .6rem;
		color: #909090;
/*		display: block;*/
/*		flex-direction: ;*/
	}

	.gitlogo3 a:hover {
		color: black;
		background-color: rgba(250, 250, 250, 0.8);
		width: fit-content;
		height: fit-content;
		padding: 2px;
		transition: .2s;
		border-radius: 2%;

	}

	.gitlogo3 img {
		margin: 0 auto;
		object-position: center;
		width: 50px;
		height: 50px;
	}

	.logo-cont3 {
		display: flex;
		position: relative;
/*		flex-direction: column;*/
/*		justify-content: flex-end;*/
/*		align-content: flex-end;*/
		justify-content: space-between;
/*		object-position: bottom;*/
		width: auto;
		height: auto;
/*		margin-top: 80px;*/
/*		border: 1px solid white;*/
	}

	.logo-cont3 article {
		display: flex;
		position: relative;
		flex-direction: column-reverse;
/*		border: 1px solid red;*/
	}


.poli {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #222222;
	justify-content: center;
	gap: 10px;
}

.poli span {
	color: #ffff;
	text-decoration: none;
	font-size: 0.5rem;
}




/*SECTION LAPTOPS*/
.title__laptop {
	font-size: clamp(22px, 5vw, 33px);
	color: white;
	font-weight: 700;
	background: linear-gradient(190deg,#aaffff80,#fff3);
	border-radius: 1%;
}
.laptops {
	margin-top: 40px;
}
.gallery__wrapper {
	display: flex;
	
	gap: 0.1em;
}

.gallery__item {
	display: flex;
	position: relative;
	isolation: isolation;
	flex: 1;
/*	width: 300px;*/
	height: 500px;	
/*	border: 1px solid white;*/
	overflow: hidden;
}



.img__item img {
	position: absolute;
/*	object-position: center;*/
	display: flex;
/*	z-index: -1;*/
	/*top: 0;
	right: 0;
*/	object-position: center;
	width: 100%;
	height: 100%;
	object-fit: contain;

/*	border: 1px solid darkred;*/
}

.item__description {
	align-self: flex-end;
	color: white;
/*	text-align: right;*/
/*	justify-content: center;*/
	margin: 0 auto;
/*	justify-content: space-evenly;*/
/*	text-decoration: none;*/
/*	list-style: none;*/
}

.item__description a {
	text-decoration: none;
}

.item__name {
	font-size: 37px;
	background: linear-gradient(360deg,#aaffff80,#fff3);
	padding-inline: 10px;
	transform: translateY(-10px);
/*	text-align: right;*/
	cursor: pointer;
/*	text-decoration: none;*/
	color: #fff;
/*	justify-content: space-evenly;*/
/*align-content: space-evenly;*/
/*	text-decoration-line: none;*/
}

.item__role {
	display: inline-block;
	font-size: 0.8rem;
	background: linear-gradient(180deg,#aaffff80,#0003);
	padding: 10px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(10px);
	list-style: none;
/*	text-align: left;*/
}
.item__role li h6 {
	text-align: left;
}
/*SECTION LAPTOPS*/



.contact1 {
	display: flex;
	position: relative;
	flex-direction: column;
	width: auto;
	height: auto;
	padding: 1em;
	/* gap: 2em; */
/*	border: 1px solid wheat;*/
/*	align-items: center;*/
	/*align-items: self-end;
	align-items: stretch;
	align-items: flex-end;*/
	/*align-content: space-between;
	justify-items: center;
	vertical-align: text-bottom;
	text-align: revert;*/
/*	justify-content: space-between;*/
}