@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');*/


* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

html {
	 font-display: optional;
	font-family: "Poppins", sans-serif;
}

body {
/*	font-display: optional;*/
	width: 100%;
/*	min-height: 100lvh;*/
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.cajacookies {
	display: none;
	background-color:#000;
	color:#fff;
	position:fixed;
	bottom:50px;
	bottom:0px;
	width:100%;
	padding:10px 20px;
	font-size:18px;
	opacity:0.9;
	z-index: 6000;
}


.botonRGPD {

	display: none;
	position: relative;
	/*place-content: right;
	place-items: right;
	left: 0;*/
	cursor: pointer;
	

}

.cajacookies a{color:#fff;}
.cajacookies a:hover{color:#ccc;}
.cajacookies p, 
.cajacookies div{display:inline-block; font-size: 0.6rem;}
.cajacookies p{width:85%;}
.cajacookies div{color: #303030;width:auto;padding:10px;border:1px solid #000;background-color:#ccc;text-align:center;position:absolute;top:10px;}
.cajacookies div:hover{background-color:#c2c2c2;cursor:pointer;}

.botonRGPD:hover {
	color: #30303090;
}
/*.principal {
	margin-top: 20px;
	margin-bottom: 20px;
}*/

/*.aux {
	text-align: center;
	background: #00796B;
}
*/

.short {
	border-radius: 30px 60px;
}

.heading {
/*	color: #c4b42c;*/
	background-image: url('img/lap5.jpg');
	background-size: cover;
/*	background-position:center;  */
	background-repeat: no-repeat;
    object-fit: cover;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
/*	width: 100%;*/
	/*justify-content: center;
	align-content: center;	*/
	
	/*object-position: center;*/
	/*align-items: center;*/
/*	justify-items: space-between;*/
	padding: 2px;
	margin: 2px;
/*	gap: 5;*/
	width: 100%;
	height: 300px;
/*	box-sizing: content-box;*/
/*	justify-content: center;*/
/*	justify-items: center;*/
/*	border: 1px solid green;*/
}


.cuerpo {
/*	display: flex;*/
/*	flex-wrap: nowrap;*/
/*	flex-direction: row;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: center;
	justify-items: center;
}

/*.fondo1 {
    color: #c4b42c;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-image: url('img/lap5.jpg');
    object-fit: cover;
    display: grid;
    column-count: 12;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin: 2px;
    align-content: space-between;
    justify-items: space-between;
}
*/
/*.logo {
    position: absolute;
    background-image: url('img/logochris1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    width: 300px;
    height: 175px;
    border-radius: 30px 60px;
    align-self: center;
    margin: 2px;
    right: 5%;
    animation: mover-izq-der 3s 1;
	animation-fill-mode: forwards;
}

.logo-galeria {
	position: absolute;
	background-image: url('img/logochris1.png');
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	animation: mover-der-izq 3s 1;
	animation-fill-mode: forwards;
	width: 70px;
    height: 40px;
    left: 0;
    object-fit: fill;
    bottom: 0;
    opacity: 0.4;
    border-radius: 30px 60px;
}

@keyframes mover-izq-der {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(10px);
	}
}

@keyframes mover-der-izq {
	from {
		transform: translateX(-110px);
	}
	to {
		transform: translateX(20%);
	}
}
*/

/*.navbar-nav_visible {
	left: 0;
}*/

.bi {
	color: ghostwhite;
}






/*body*/

.galeria {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2)0%, rgba(0, 0, 0, 0.9)100%);
/*	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3);*/
/*	background: linear-gradient(to bottom, rgba(60,0,30,0.9) 50%,rgba(0, 0, 0, 0.1)100%);*/
/*	z-index: 2;*/
	border-style: 2%;
}

.galeria .carousel-item2 {
	display: flex;
	position: relative;
	background-image: url('img/ps4Pro.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	object-fit: contain;
/*	z-index: -1;*/
	width: 100%;
	height: 300px;
	margin: 0;
}


/*.ladoA span {
	width: 100%;
	height: auto;
	margin: 0 auto;
}*/


.sidebar1  {
/*	background: center;*/
	background-image: url('img/b1a.png');
/*	image-resolution: from-image;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
/*	display: flex;*/
/*	flex-direction: row;*/
/*	position: relative;*/
/*	column-count: 3;*/
	width: 400px;
	margin: 0;
	min-height: 600px;
/*	justify-content: center;*/
/*	justify-items: center;*/
/*	box-sizing: border-box;*/
	object-fit: fill;
	border-style: 2%;
/*	padding: 10px;*/
}

.full {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
}


.contenido { 
	background: rgba(105, 105, 105, 0.7);
	background-size: cover;
	box-sizing: border-box;
	display: grid;
	position: relative;
	column-count: 3;
	margin: 0;
/*	margin-top: 10px;*/
/*	margin-bottom: 10px;*/
/*	z-index: -1;*/
/*	align-items: stretch;	*/
/*	justify-content:space-around;*/
/*	align-content: stretch;*/
/*	justify-items: center;*/
	justify-content: center;
	width: auto;
	height: auto;
	color: ghostwhite;
}



.cuerpo .sidebar2 {
	display: flex; 
/*	column-count: 3;*/
	position: relative;
	background-image: url('img/b2a.png');
	background-size: cover;
	background-repeat: no-repeat;
/*	background-position: center;*/
/*	margin: 2px;*/
/*	padding: 10px;*/
	border-style: 2%;
	box-sizing: border-box;
	width: 400px;
	min-height: 600px;

	object-fit: fill;
}

.cuerpo {
/*	position: relative;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 3fr));
/*	gap: 12px;*/
	margin: 0;
	column-count: 12;
/*	column-gap: 2px;*/
/*	flex-direction: row;*/
/*	flex-wrap: nowrap;*/
	/*justify-content: space-between;*/
	align-items: center;
/*	border: 1px solid goldenrod;*/
}

.contenido .fotos {
	display: flex;
	position: relative;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
	justify-items: center;
	margin: 0 auto;
/*	border: 2px solid red;*/
	width: auto;
	height: auto;
}

.iconB i {
	color: goldenrod;
	font-size: 1.4em;
}




/*nav {
	text-decoration: none;
	list-style: none;
}*/

/*.container-fluid {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	align-items: center;	
	justify-content: space-between;
	justify-items: space-between;
}*/




.jsSlider {
/*	display: flex;*/
	position: relative;
	color: #1c1b1f;
/*	border: 1px solid green;*/
	font-size: .9rem;
	font-weight: 700;
	text-align: left;
	margin: auto;
	background-color: #FFF8;
	box-shadow: 5px 5px 20px #fff9;
	width: auto;
	height: fit-content;
	padding: 5%;
	transform: translate(.9rem, 2rem);
/*	z-index: 2000;*/
	/*translate: 1rem 2rem;
	scale: 1.2;
	rotate: X 90deg;*/
/*	bottom: 0;*/
}



.photos {
	display: flex;
	position: relative;
	flex-direction: row;
	max-width:100%;
	height: fit-content;
	margin: 0 auto;
	overflow-x: hidden;
/*	gap: 10px;*/
/*	justify-content: center;*/
/*	align-content: space-between;*/
}

.photosHidden {
	visibility: hidden;
}

.photo {
	display: flex;
	position: relative;
/*	background-color: rgba(250, 250, 250, 0.3);*/
/*	align-content: center;*/
/*	justify-content: center;*/
	margin: 5px auto;
	border-radius: 5px;
/*	gap:5px;*/
}

.photo img {
	display: flex;
/*	flex-direction: row;*/
	position: relative;
	background-repeat: no-repeat;
	margin: 5px;
	background-size: cover;
/*	padding: 30px;*/
	object-fit: fill;
	width: 150px;
	height: 150px;
	border-radius: 4%;
	box-shadow: 2px 2px 7px white;
/*	opacity: 0.7;*/
}



/*footer*/
.contact1 {
	width: auto;
	height: auto;
}

.contact1 li {
    list-style: none;
    list-style-type: none;
    text-decoration: blink;
/*    text-transform: uppercase;*/
    color: #ffff;
    margin: 10px;
    font-size: 0.7rem;
    font-weight: 700;
}

.contact1 h6 {
	color: white;
	text-transform: uppercase;
	text-align: right;
	font-weight: 600;
/*	border-bottom: 2px solid black;*/
	padding: 0;
	margin: 0;
/*	font-size:.8rem;*/
}

.contact1 a {
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
    color: #ffff;
}

.contact1 a:hover {
	color: #bbbb;
	transition: color .5s;
}


.contact {
    display: flex;
    position: relative;
    flex-direction: column;
/*    flex-wrap: nowrap;*/
    text-align: right;
    background: #bbbb;;
/*    border-radius: 15px;*/
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0;
/*    box-sizing: border-box;*/
    padding: 5px;
/*    align-items: flex-end;*/
/*    object-position: bottom;*/
}

.bi-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	-webkit-background-clip: text;
          /* Also define standard property for compatibility */
     background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.bi-facebook{
	color: #3b5998;
}

.bi-twitter{
	color: #1DA1F2;
}


.contact li i:hover {
/*	border:1px solid rgba(250, 250, 250, 0.3);*/
/*	background-color: ghostwhite;*/
/*	box-shadow: 2px 0px 5px white;*/
	padding: 1px;
	border-radius: 30%;
	transition: 0.5s;
/*    color: #00008b;*/
}


.socialnav {
/*    margin: 2px;*/
    
    display: flex;
    position: relative;
    flex-direction: column;
/*    justify-content: flex-start;*/
/*    justify-self: left;*/
/*    left: 0;*/
/*	align-content: flex-start;*/
    flex-wrap: wrap;
    padding-top: 10px;
/*    margin: 0 auto;*/
/*    align-items: flex-end;*/
/*    position: relative;*/
/*    border: 1px solid white;*/
}

.socialnav ul {
	display: flex;
	position: relative;
	flex-direction: row;
/*    justify-content: flex-start;*/
/*    margin: 0 auto;*/
	gap: 10px;
	margin-left: 0;
}

.socialnav li:first-child {
	margin-left: -20px;
}

.socialnav ul li {
	list-style: none;
}

.socialnav li a{
	display: inline;
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
 }

 .socialnav i {
 	display: flex;
 	position: relative;
/* 	justify-content: flex-start;*/
/* 	align-items: flex-start;*/
 }

 .contact2 {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: right;
	background: #388E3C;
	align-content: space-between;
	justify-content: space-between;
	justify-items: space-between;
	/*justify-self: end;
	align-self: flex-end;
	width: auto;
	height: auto;*/
/*	box-sizing: border-box;*/
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	bottom: 0;
	width: 100%;

}

/*footer {
	background: rgba(0, 0, 0, 1.0);
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
}
*/



/*contact page*/

#contacto-body {
	margin: 20px auto;
}

.card {
/*	display: flex;*/
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
/*	align-content: center;*/
	justify-content: center;
	/*justify-items: center;
	align-items: center;*/
	object-position: center;
	margin: 0 auto;
	padding: 20px;
/*	width: 100%;*/
	height: fit-content;
}

.card-body {
	display: flex;
	position: relative;
	justify-content: center;
	margin: 0 auto;
}

.p-5 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 400px;
	background-position: bottom;
	background-size: cover;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: 2px auto;
	padding: 5px;
}

/*.ban {
	display: grid;
	column-count: 3;
	background-image: url(img/banner2.png);
	z-index: -1;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	box-sizing: border-box;
}*/




.cuerpo {
	display: grid;
	grid-template-columns: auto auto auto;
	column-count: 12;
	height: fit-content;
	margin: 0;

}

.cuerpo .row {
	width: 100%;
	height: fit-content;
	margin: 0;
}

.base a {
	color: white;
	text-decoration: none;
/*	text-transform: uppercase;*/
	font-weight: 700;
/*	font-family: serif;*/
}

.form-control::placeholder {
	display: flex;
	position: absolute;
	color: rgba(0, 0, 0, 0.2);
	right: 5%;
	bottom: 2%;
/*	border: 1px solid darkgrey;*/
	object-position: center;
	text-align: right;
}




/*DEMO PAGE*/
.navbar {
	position: relative;
	display: block;
/*	background-color: darkblack;*/
/*	width: 100%;*/
/*	height: 100px;*/
/*	border: 1px solid red;*/
}

.demoPage-main {
	display: flex;
	position: relative;
/*	flex-direction: row;*/
/*	background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
/*  	-webkit-background-clip: text;
          /* Also define standard property for compatibility */
/*     background-clip: text;*/
/*  	-webkit-text-fill-color: transparent;*/
  	background: linear-gradient(to bottom, #303030 30% , #fff 60%);
	width: 100%;
	min-height: 100vh;
	/*justify-content: center;
	align-content: center;
	object-position: center;*/
/*	margin: 0;*/
	padding: 20px 0;
/*	justify-content: space-between;*/
/*	align-content: center;*/
	align-items: center;
	justify-items: center;
/*	bottom: 50%;*/

/*	width: 100%;*/
/*	margin-bottom: 20px;*/
/*	height: 100lvh;*/
/*	border: 1px solid red;*/
}

.mas {
	width: 100%;
	height: auto;
}
.main-1 {
	display: flex;
	position: relative;
/*	flex-direction: row;*/
	justify-content: space-between;
	margin-top: 15px;
	width: 100%;
/*	border: 1px solid red;*/
}

.main-2 h1, h1 {
	color: #cccccc;
	margin-bottom: 5px;
	font-size: 1.3rem;
	font-weight: 900;
	filter: drop-shadow(1px 1px 2px black);

}

.main-2 {
	display: block;
	width: 100%;
/*	border: 1px solid green;*/
/*background: radial-gradient(circle at 30% 107%, #303030 0%, #ffff 5%, #930909 45%, #393939 60%, #fcfcfc 90%);*/
/*	background: linear-gradient(to top,rgba(250, 250, 250, 0.1) 20%, #30303010 60%);*/

}

.carousel {
	width: 80%;

	margin: auto;
	align-items: center;

}

.carousel-inner {
/*	background-color: rgba(250, 250, 250, .4);*/
	margin: 0 auto;
	padding: 20px;
/*	width: 100%;*/
/*	border: 1px solid green;*/
}

.carousel-item {
	border-radius: 2%;
	width: 100%;
	height: auto;
/*	border: 1px solid green;*/

	background: linear-gradient(to top,rgba(250, 250, 250, 0.2) 20%, #30303040 100%);
} 

.carousel-item img {
	display: flex;
	position: relative;
/*	position: relative;*/
	
	background-size: fill;
/*	object-fit: contain;*/
	object-position: center;
	object-fit: fill;
	margin: 0 auto;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 400px;
	border-radius: 5%;
	padding: 20px 40px 20px 40px;
	}

.carousel-caption {
/*	font-size: 2.9rem;*/
	background-color: rgba(0, 0, 0, 0.7);
/*	height: fit-content;*/
}

.carousel-caption h2 {
/*	color: #f5f5f5;*/
	color: #999999;
}
.carousel-caption p {
	font-size: 0.9rem;
	color: #f5f5f5;

/*	color: white;*/
	
}

.others {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: auto;
/*	border: 1px solid white;*/
}



.notice {
	display: block;
	position: relative;
	background-color: rgba(250, 250, 250, 0.4);
	width: 100%;
	height: 350px;
	overflow: auto;
	text-align: justify;
	padding: 5% 10%;
/*	border-radius: 0.1%;*/

}

.botones {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
/*	top: 0;*/
}

.not-a {
	display: flex;
	position: sticky;
	width: 30%;
	height: auto;
	border-bottom: 2px solid black;
	opacity: 0.3;
/*	top: 0;*/
}

.not-b {
	display: flex;
	position: sticky;
	width: 30%;
	height: auto;
	border-bottom: 2px solid black;
	opacity: 0.3;
/*	top: 0;*/
}

.not-c {
	display: flex;
	position: sticky;
	width: 30%;
	height: auto;
	border-bottom: 2px solid black;
	opacity: 0.3;
/*	top: 0;*/
}

.not-1 {
/*	font-family: "cursive;", sans-serif;*/
	color: white;
	font-size: .7rem;
}

.cap {
	font-size: 1.1rem;
	font-weight: 900;
}

.not-img img {
	display: flex;
	position: relative;
	cursor: pointer;
	width: 220px;
	height: 120px;
	margin: 0 auto;
	border-radius: 2%;

}
.logo-cont {
	display: flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: auto;
	justify-content: flex-end;
}

.logo {
	background-image: url("img/logochris1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: fill;
	width: 200px;
	height: 100px;
	border-radius: 1%;
	opacity: .6;
}

.otros {
	display: flex;
	position: relative;
	flex-direction: column-reverse;
/*	background-color: rgba(200, 200, 200, 0.6);*/
	cursor: default;
	
	width: auto;
	height: auto;
	border-radius: 2px;
/*	border: 1px solid red;*/
}
.otros-1 {
	background-color: rgba(250, 250, 250, .8);
	border-radius: 1%;
	padding: 20px;
/*	padding-left: 0;*/

}

.otros-1 ul {
	padding-left: 0;
	list-style: none;

}

.otros p {
	text-align: justify;
	font-size: .7rem;
	margin: 2px;
	width: 60%;
	margin: 0 auto;
}

.otros p:hover {
	padding: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	transition: .3s;
/*	width: fit-content;*/
}

.banner-demo {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: auto;
}

.banner-demo article {
/*	display: flex;*/
/*	position: relative;*/
	margin: 10px auto;
/*	width: 100%;*/
/*	height: 100%;*/
}

.banner-demo img {
/*	display: flex;*/
/*	position: relative;*/
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.contact {
	display: flex;
	flex-direction: row;
/*	flex-wrap: wrap;*/
	position: relative;
	background-color: #1b1b1b;
	width: 100%;
	height: auto;
	align-items: flex-end;
/*	justify-content: flex-end;*/
}

.contact section {
	display: block;
/*	flex-direction: column;*/
	position: relative;
	justify-content: space-around;
	align-items: self-end;
	width: auto;
	height: 100%;
}

.contact1 li,
.contact1 h6 {
	color: white;
}

.contact1 span:hover{
	padding: 5px;
	color: #303030;
	box-shadow: 2px 2px 4px #fffff9;
	transition: .3s;
	background-color: white;
	font-weight:600;
	border-radius: 2%;
}


/*DEMO PAGE*/


/*DESCARGAS*/

.descargas {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	justify-content: space-between;
	align-content: space-between;
	width: 100%;
	height: auto;
}

.descarga {
	display: block;
	position: relative;
	margin: 10px;
	text-align: center;

}

.descarga p {
	/*display: flex;
	position: relative;
	flex-wrap: wrap;
*/	font-size: .7rem;
}

.descarga img {
/*	 display: flex; */
	/* position: relative; */
	/* flex-wrap: wrap; */
	/* flex-direction: column; */
	/*justify-content: center;
	justify-items: center;
	align-content: center;*/
	/* text-align: center; */
	margin: 10px auto;
	width: 90px;
	height: 90px;
}

.pokemon img {
	width: 90px;
	height: 180px;
}

 .descarga {
 	text-decoration: none; 
 	position: relative;
}

.descarga button {
	font-size: 0.6rem;
	font-weight: 700;
	padding: 1px;
	border: outset green;
}

.contenedor {
	display: grid;
	position: relative;
	margin: 0 auto;
}

a button:hover {
/*	color: white;*/
	background-color: darkgoldenrod;
	scale: 1.1;
	transition: 0.3s;
/*	pointer-events: auto;*/
	cursor: pointer;
	padding: 3px;
}

/*button {
	background-color: rgba(250, 250, 250, 1.0);
	color: ghostwhite;
}*/


	#previous,
	#next {
		width: fit-content;
		height: fit-content;
		background-color: rgba(250, 250, 250, .2);
		top: 50%;
		border-radius: 5%;
		margin: 10px;
	}

	.canals {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 15%;
		padding-bottom: 0;
	}

	.canals h6 {
		text-transform: uppercase;
		margin-bottom: 20px;
		border-bottom: 2px solid #303030;
	}

	.canals ul {
		text-align: justify;
		margin: 0 auto;
		color: black;
		text-decoration: none;
		list-style: none;
		padding-left: 0;
		width: 50%;
	}

	.canals ul li {
		margin-bottom: 5%;
	}

	.canals ul li:hover {
/*		border-bottom: 1px solid darkgoldenrod;*/
		box-shadow:1px 1px 10px #30303040;
		padding: 2%;
		border-radius: 2%;
		transition: .5s;
	}

	.canals ul li > a {
		color: #303030;
		text-decoration: none;
	} 




.gitlogo {
	display: none;
}


.container-pro {
	background-color: #1c1d2d;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.pro-row {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
}

.pro {
	display: flex;
	position: relative;
	flex-direction: column;
	color: #ffff;
/*	justify-content: space-between;*/
	padding: 20px;
	text-align: center;
/*	border: 1px solid white;*/
}

.pro h6 {
/*	font-size: 1rem;*/
	font-weight: 700;

}

.pro-link {
	color: #ffffff60;
	text-decoration: none;
}

.pro-list {
	color: #ffffff60;
	margin-top: 10px;
	font-size: 0.7rem;
	list-style: none;
/*	text-indent: 10px;*/
	cursor: default;
	padding-left: 0;
}

.pro-item:hover, 
.pro-link:hover {
	color: #ffffff20;
}

.pro-item {
/*	text-decoration: none;*/
	margin: 10px 0 0 0;
}

.pro-item:after {
	color: yellow;
}





.main-h1 {
	color: #303030;
	text-align: center;
	width: 100%;
	margin: 5px;
}

.primary {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.primary-img {
	display: flex;
	position: relative;
	flex-direction: row;
	max-width: 60%;
	height: 400px;
	margin: 0;
	justify-content: center;
	opacity: 0.9;
	animation: move-izq-der 5s 1;
	animation-fill-mode: forwards;
	filter: drop-shadow(2px 2px 7px #303030);
/*	background-color: black;*/
/*	border: 1px solid black;*/
}

@keyframes move-izq-der {
	from {
		transform: translateX(-400px);
	}
	to {
		transform: translateX(10px);
	}
}
.primary-img {
/*	border: 1px solid black;*/
	align-items: center;
}

.primary-img img {
	background-size: auto;
	object-fit: cover;
	width: 150px;
	height: 200px;
	border-radius: 5%;
	opacity: 0.7;
}

.prim-caption {
	display: block;
	position: relative;
	max-width: 400px;
	padding: 3%;
/*	text-align: left;*/
/*	border: 1px solid black;*/
/*	margin: 0 10px;*/
}

.primary-h2 {
	color: #303030;
	text-align: center;
	width: 100%;
/*	padding: 10px;*/
	font-size: 0.9rem;
	border-bottom: 2px solid #303030;
	margin-bottom: 15px;
}

.primary-p {
	font-size: 0.7rem;
	text-align: justify;
/*	padding: 20px;*/
}

.social2 {
/*	display: flex;*/
/*	position: relative;*/
	flex-direction: row;
	margin-top: 40px;
	width: 100%;
	height: auto;
/*	margin: 40px 0 auto auto;*/
	justify-content: stretch;

/*	border: 1px solid black;*/
}

.social-items2 {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding-left: 0;
}

.social-item2 {
	display: flex;
	flex-direction: row;
/*	justify-content: flex-end;*/
	list-style: none;
	width: auto;
	height: auto;
/*	gap: 15%;*/
}

.social-link {
	color: #303030;
	text-decoration: none;
	padding-left: 0;
}

.bi-facebook {
	color: #3b5998;
}

.bi-twitter {
	color: #1DA1F2;
/*	color: #25D366;*/
}

.bi-youtube {
	color: #c4302b;
}

.bi-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
 }

.navbar-brand span {
	font-size: 1.1rem;
	font-weight: 900;
}

.descarga > img {
	width: 90;
	height: 90;
}



 /*media*/
@media screen and (max-width: 768px) {
	
	.cuerpo {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
	}

	.uno {
		grid-area: 1 / 4;
/*		width: 100%;*/
	}

	.dos {
		grid-area: 2 / 4;
	}

	.tres {
		grid-area: 3 / 4;
/*		margin: 0 auto;*/
	}

	.cuerpo .sidebar1 {
		display: flex;
		position: relative;
		width: auto;
		height: auto;
		margin: 0 auto;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	.cuerpo .sidebar2 {
		display: flex;
		position: relative;
		width: auto;
		height: auto;
		margin: 0 auto;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	.main-1 {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		height: auto;
		justify-content: stretch;
/*		border: 1px solid red;*/
		
	}

	.carousel-caption {
		display: block;
		position: absolute;
		font-size: .7rem;
		width: 50%;
		height: auto;
		margin: 0 auto;
		padding: 5px;
		/*object-position: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;
		align-self: center;*/
/*		visibility: visible;*/
/*		border: 1px solid black;*/
	}

	.carousel {
		width: 100%;
	}

	.others {
		display: flex;
		position: relative;
	/*	flex-direction: column;*/
		justify-content: center;
		width: 100%;
		height: auto;
		margin-top: 10px;
		text-align: center;
/*		margin-bottom: 80px;*/
/*		z-index: 3000;*/
	}

	.otros p:hover {
		display: flex;
		position: relative;

		justify-content: center;
		text-align: center;
		width: 100%;
		font-size: .9rem;
		font-weight: 400;
	}



	.logo {

/*		background-image: url("img/logochris1.png");*/
		/*background-size: cover;
		background-repeat: no-repeat;
		background-position: center;*/
/*		object-fit: fill;*/
/*		right: 0;*/
		width: 200px;
		height: 100px;
		border-radius: 1%;
		margin: 3px;
	}

	.navbar-nav {
		text-align: right;
	}

	.banner-demo {
/*		display: flex;*/
/*		position: relative;*/
		flex-direction: column;
/*		justify-content: stretch;*/
		margin: 0 auto;
		width: 100%;
/*		border: 1px solid red;*/
	}

	.banner-demo article {
		margin: 5px auto;
	}

	.banner-demo img {
	/*	display: flex;*/
	/*	position: relative;*/
		width:300px;
		height: 300px;
		margin: 0 auto;
	}

	.gitlogo {
		display: flex;
		position: relative;
/*		margin: 20px;*/
/*		border: 1px solid white;*/
	}

	.gitlogo a {
		display: flex;
		position: relative;
		flex-direction: column;
		text-decoration: none;
		color: white;
		margin: 0 auto;
		height: fit-content;
/*		display: block;*/
/*		flex-direction: ;*/
	}

	.gitlogo a:hover {
		color: black;
		background-color: rgba(250, 250, 250, 0.8);
		padding: 5px;
		transition: .2s;

	}

	.gitlogo img {
		margin: 0 auto;
		object-position: center;
		width: 60px;
		height: 60px;
	}

	.logo-cont2 {
		display: flex;
		position: relative;
/*		flex-direction: column;*/
/*		justify-content: flex-end;*/
/*		align-content: flex-end;*/
		justify-content: space-between;
/*		object-position: bottom;*/
		width: 100%;
		height: 100%;
/*		margin-top: 80px;*/
/*		border: 1px solid white;*/
	}

	.logo-cont2 article {
		display: flex;
		position: relative;
		flex-direction: column-reverse;
/*		border: 1px solid red;*/
	}


	.logo2 {
		display: flex;
		position: relative;
/*		flex-direction: column-reverse;*/
		background-image: url("img/logochris1.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		object-fit: fill;
		width: 150px;
		height: 100px;
		border-radius: 1%;
		z-index: 3000;
		opacity: 0.5;
/*		bottom: 20%;*/
/*		right: 0;*/

		margin: 0 auto;

	}

	.gitlogo3 img {
		margin: 0;
		object-position: center;
		width: auto;
		height: auto;
	}

	.canals ul {
		width: 100%;
	}


	.pro-row {
		flex-direction: column;
	}


}

.gitlogo3 {
		display: flex;
		position: relative;
		padding: 5px;
/*		margin: 20px;*/
/*		border: 1px solid white;*/
	}

	.gitlogo3 a {
		display: flex;
		position: relative;
		flex-direction: column;
		text-decoration: none;
		color: white;
		margin: 0 auto;
		height: fit-content;
		font-size: .6rem;
		color: #909090;
/*		display: block;*/
/*		flex-direction: ;*/
	}

	.gitlogo3 a:hover {
		color: black;
		background-color: rgba(250, 250, 250, 0.8);
		width: fit-content;
		height: fit-content;
		padding: 2px;
		transition: .2s;
		border-radius: 2%;

	}

	.gitlogo3 img {
		margin: 0 auto;
		object-position: center;
		width: 50px;
		height: 50px;
	}

	.logo-cont3 {
		display: flex;
		position: relative;
/*		flex-direction: column;*/
/*		justify-content: flex-end;*/
/*		align-content: flex-end;*/
		justify-content: space-between;
/*		object-position: bottom;*/
		width: auto;
		height: auto;
/*		margin-top: 80px;*/
/*		border: 1px solid white;*/
	}

	.logo-cont3 article {
		display: flex;
		position: relative;
		flex-direction: column-reverse;
/*		border: 1px solid red;*/
	}


.poli {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #222222;
	justify-content: center;
	gap: 10px;
}

.poli span {
	color: #ffff;
	text-decoration: none;
	font-size: 0.5rem;
}