* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", 'Poppins', sans-serif;
	min-height: 100dvh;
		/*border: 4px solid green;*/
}

main {
	display: block;
	place-content: center;
	min-height: calc(100dvh - 100px);
	max-width: 800px;
	margin: 0 auto;
}

footer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-direction: flex-end;
	/*border: 4px solid red;*/
	height: 100%;
	a {
		color: revert;
		text-decoration: revert;
	}
}

h1,h2,h3 {
	text-align: center;
	margin-bottom: 1em;
}

h1 {
	font-size: clamp(28px, 4vw, 43px);
	margin-top: 30px;
}

button {
	background: none;
	color: white;
	cursor: pointer;
	padding: 0.3em .8em;
        background-color: #0004;
        border: none;
        border-radius: .3em;
}

a {
	color: #1b1b1b;
	text-decoration: none;

	&:hover {
		color: #525253;
	}
}

.bi {
	color: white;
}

.articles {
	margin: 70px auto;
	max-width: 400px;
	height: auto;
	/*filter: drop-shadow(2px 2px 5px);*/
	box-shadow: 3px 3px 7px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px 20px;
	overflow: hidden;
}


		
figure {
	width: auto;
	height: fit-content;
	padding: 40px;
	 img {
		display: block;
		margin: auto;
		border-radius: 15px;
		object-fit: contain;
		border: 1px solid;
		width: 100%;
		height: 100%;
		/*filter: drop-shadow(2px 2px 5px);*/
	}
}


figure figcaption {
	/*text-align: center;*/
	margin: 10px auto;
	/*border: 1px solid;*/
	span {
		display: block;
		/*margin: 0 0 0 20px;*/
		width: auto;
		font-size: .8rem;
		line-height: 1.5;
		letter-spacing: .2ch;
		font-style: italic;
		/*border: 1px solid red;*/
	}
}


.navbar {
	position: relative;
	display: block;
	background-color: #00002b;
	color: white;
}

.nav {
  	display: flex;
  	padding: 0.7em 40px;
  	width: 100%;
  	height: 100%;
  	display: flex;
  	align-items: center;
  	position: relative;
  	justify-content: space-between;
  	color: white;
}

.navbar-brand {
	color: #fff;
	text-decoration: none;
}

.navbar-toggler {
	display: none;
}

.off-header {
	display: none;
}

.navbar-nav {
	display: grid;
	margin-left: auto;
	padding: 0;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 2em;
	color: white;
	/* align-items: center; */
}

.nav-item {
	/* align-items: end; */
	list-style: none;
	/* margin-bottom: 1.5em; */
}

.nav-link {
	color: #eee;
	text-decoration: none;
	border-bottom: solid 0 #ffffff00;
}

.nav-link:hover:not(.active) {
	border-bottom: solid 1px #ffffff80;
	transition: all 3s;
}

.nav-link.active {
	box-shadow: 2px 2px 4px #ffffff60;
	padding: .1em .4em;
}


.container-pro {
	background-color: #1c1d2d;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.ff {
	display: flex;
	flex-direction: column;
}


.socialnav {
    display: flex;
    position: relative;
    align-items: center;
    margin: .4em auto;
    justify-content: center; 
}

.socialnav ul {
    display: flex;
    position: relative;
    flex-direction: row;
/*    justify-content: center;*/
/*    align-content: flex-start;*/
    align-items: center;
    gap: 1em;
    padding-left: 0;
    width: auto;
    height: auto;
    text-align: left;
	color: #fff;
	font-size: .7rem;
/*	border: 1px solid white;*/
	 list-style: none;
    /* top: 0; */
    /* right: 0; */
}

/*.socialnav ul li {
    list-style: none;
    margin: 0 auto;*/

    /*object-position: center;
    place-content: center;
    place-items: center;
    place-self: center;*/
/*}*/

.logo-cont3 {
	width: auto;
	height: auto;

}


.logo-cont3 p {
	color: #fff;
	font-size: .4rem;
	text-align: left;
/*	border: 1px solid white;*/
	width: 100%;
}

.logo-cont3:hover {
	background-color: #ffffff40;
}

.logo--github {
	display: flex;
	justify-content: center;
	/*background-image: url("../img/github_PNG40.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	margin: 0 auto;*/
}

.contact1 {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 1em;
	gap: 2em;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contact1 ul {
	display: flex;
	position: relative;
	flex-direction: column;
	list-style: none;
	list-style-type: none;
	color: #ffff;
	margin-bottom: 0;
	font-size: 0.7rem;
	font-weight: 400;
	width: auto;
	height: 100%;
	gap: .6em;
	padding-left: 0;
}

.contact1 ul li {
	color: white;
}

.contact1 ul li:hover{
	padding: 0.3em;
	color: #1b1b1b;
	box-shadow: 2px 2px 4px #ffffff1c;
	transition: box-shadow .5s;
	font-weight:600;
	border-radius: 2%;
}


.contact1 a {
    list-style: none;
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
    color: #ffff;
}

.contact1 a:hover {
	color: #bbbb;
	transition: .5s;
}

.pro-row {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
}

.pro {
	display: flex;
	position: relative;
	flex-direction: column;
	color: #ffff;
	/* justify-content: space-between; */
	padding: 20px;
	/* text-align: center; */
}

.pro h6 {
	font-weight: 700;
}

.pro-link {
	color: #ffffff60;
	text-decoration: none;
	padding-left: 0;
}

.pro-list {
	color: #ffffff60;
	margin-top: 10px;
	font-size: 0.7rem;
	list-style: none;
	cursor: default;
	padding-left: 0;
	/* text-align: left; */
}

.pro-item {
	margin: 10px auto auto auto;
	text-align: center;
	/* padding-left: 0; */
	/* justify-content: center; */
}

.pro-item:hover, 
.pro-link:hover {
	color: #ffffff20;
}

.poli {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #222222;
	justify-content: center;
	gap: 10px;
	font-size: .5rem;
	color: #ffff;
	text-decoration: none;
/*	font-size: 0.5rem;*/
}


@media screen and (max-width: 768px) {

	.layouts figure{
		width: 350px;
		 img{
			/*scale: -1;*/
			max-width: 350px;
		}

	}

	.modals img {
		width: 100%;
		height: 60vh;
	}

	.content-modal iframe {
		min-width: 90vw;
	}

	.navbar-nav {
		display: block;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: .8em;
		text-align: right;
	}

	.nav button {
		padding: 0.3em .8em;
		background-color: #0004;
/*		border: none;*/
		color: #fff;
		border-radius: .3em;
	}

	.navbar-toggler {
		display: block;
	}

	.off {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 80%;
        z-index: 6000;
        padding: .8em;
        right: 0;
        top: 0;
        background-color: #2b2b2b;
    }

	.hidden-nav {
		display: none;
	}


}