div {
	display: grid;
	place-content: center;
	padding: .2em;
	width: 100%;
	height: 100lvh;
}

div iframe {
	display: flex; 
	justify-content: center; 
	margin: 0;
	width: 100%;
	min-height: 600px;
}