<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout</title>

	<link rel="stylesheet" type="text/css" href="public/css/layout.css">
	<script defer type="text/javascript" src="public/js/layout.js"></script>

	<meta name="robots" content="noindex, nofollow">
</head>
<body>

	<header class="hero">
		<nav class="nav container">
			<div class="nav__logo">
				<h2 class="nav__title"></h2>
			</div>
			<div class="nav-collapse">
				<ul class="nav__link nav__link--menu">
					<li class="nav__items">
						<a href="#" class="nav__links">Inicio</a>
					</li>
					<li class="nav__items">
						<a href="#" class="nav__links">Acerca de</a>
					</li>
					<li class="nav__items">
						<a href="#" class="nav__links">Contacto</a>
					</li>
					<li class="nav__items">
						<a href="#" class="nav__links">Blog</a>
					</li>
				</ul>
				<button class="btn-close hide">
					<img src="public/img/svg/close.svg" alt="#">
				</button>
			</div>
			<button class="nav__menu hide">
				<img src="public/img/svg/menu.svg" class="nav__img" alt="#">
			</button>
		</nav>

		<section class="hero__container container">
			<!-- <h1 class="hero__title">Aprende CSS3 desde CERO hasta dominarlo</h1>
			<p class="hero__paragraph">Elige aprender CSS de una vez por todas, una vez finalizado este curso serás capaz de crear cualquier layout con CSS y tus propias animaciones.</p>
			<a href="#" class="cta">Comienza ahora</a> -->
			<h1 class="hero__title">Lorem ipsum</h1>
			<p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<a href="#" class="cta">Lorem ipsum</a>
		</section>
	</header>

	<main>
		<section class="container about">
			<h2 class="subtitle">¿Lorem ipsum?</h2>
			<p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<div class="about__main">
				<article class="about__icons">
					<img src="public/img/svg/shapes.svg" class="about__icon">
					<h3 class="about__title">Lorem ipsum</h3>
					<p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</article>
				<article class="about__icons">
					<img src="public/img/svg/paint.svg" class="about__icon">
					<h3 class="about__title">Lorem ipsum</h3>
					<p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</article>
				<article class="about__icons">
					<img src="public/img/svg/code.svg" class="about__icon">
					<h3 class="about__title">Lorem</h3>
					<p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</article>
			</div>
		</section>

		<section class="knowledge">
			<div class="knowledge__container container">
				<div class="knowledge__texts">
					<h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod!</h2>
					<p class="knowledge__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="#" class="cta">Lorem ipsum dolor</a>
				</div>
				<figure class="knowledge__picture">
					<img src="public/img/xps.avif" alt="#" class="knowledge__img">
				</figure>
			</div>
		</section>
	</main>
	<footer>
		<div class="footer-date">copyright &copy; <span class="date"></span></div>
	</footer>
</body>
</html>